body {
  font-family:'Raleway', sans-serif;
  font-size: 16px;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #99ff99;
}

.future {
  background-color: #99f4ff;
}

button{
  height: 40px;
}

.fa-solid.fa-floppy-disk {
  font-size: 30px;
}